<!DOCTYPE html>
<html lang="es-ES" >
<head>

  <link rel="stylesheet" type="text/css" href="https://www.habitissimo.es/static/build/css/frontend.min.css?v=1550482066" />
  <link rel="stylesheet" type="text/css" href="https://www.habitissimo.es/static/font/iconissimo_e24da5260b1055faad15d85cb5fadd90.woff" />
  <noscript><style type="text/css">img.lazy{display:none;}</style></noscript>
  <script type="text/javascript" src="https://www.habitissimo.es/static/build/js/habitissimo-frontend.min.js?v=1550482066"></script>
  <script type="text/javascript" src="//static.criteo.net/js/ld/ld.js" async></script><script type="text/javascript">window.criteo_q = window.criteo_q || [];window.criteo_q.push({ event: "setAccount", account: 0 },{ event: "setSiteType", type:"d"},{ event: "viewHome" });</script>
</head>

<body class="home">
  <wc-button class="btn btn-primary btn-md">Esto es un Boton a renderizar</wc-button>
</body>
</html>
